#a {
  background: blue;
  width: 100%;
  height: 75px;
}
#b {
  background: black;
  width: 100%;
  height: 150px;
}
#c {
  background: red;
  width: 100%;
  height: 125px;
}
#d {
  background: yellow;
  width: 100%;
  height: 125px;
}
#e {
  background: green;
  width: 50%;
  height: 250px;
}
#f {
  background: cyan;
  width: 50%;
  height: 250px;
  float: 
}
#g {
  background: plum;
  width: 50%;
  height: 250px;
}
#h {
  background: orchid;
  width: 50%;
  height: 250px;
}
#i {
  background: orange;
  width: 100%;
  height: 80px;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #a {
    background: purple;
    width: 100%;
    height: 100px;
  }
  #b {
    background: red;
    width: 20%;
    height: 600px;
  }
  #c {
    background: green;
    width: 40%;
    height: 200px;
  }
  #d {
    background: orange;
    width: 40%;
    height: 200px;
  }
  #e {
    background: blue;
    width: 20%;
    height: 250px;
  }
  #f {
    background: blueviolet;
    width: 20%;
    height: 250px;
    float: 
  }
  #g {
    background: lawngreen;
    width: 20%;
    height: 250px;
  }
  #h {
    background: goldenrod;
    width: 20%;
    height: 250px;
  }
  #i {
    background: darkkhaki;
    width: 80%;
    height: 150px;
  }
}


